p,
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

.bold {
    font-weight: bold;
}

.semi-bold {
    font-weight: 600;
}

.bg-blue {
    background-color: var(--blue);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex-1 {
    flex: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-gray {
    color: var(--gray);
}

.pointer {
    cursor: pointer;
}

.gap-2 {
    gap: 6px;
}

.text-tiny {
    font-size: 12px;
}

.text-sm {
    font-size: 14px;
}

.text-lg {
    font-size: 18px;
}

.pointer {
    cursor: pointer;
}

input, textarea {
    outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
