.bold {
    font-weight: bold;
}

.bg-blue {
    background-color: var(--blue);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex-1 {
    flex: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
