:root {
    --blue:#0097fe;
    --error:#C13515;
    --gray:#343a40;
    --ligth-gray:#e5e2e1;
    --dark-gray: #dcdcdc;
    --active-gray: #f8f8f8;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.routes-container {
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
}

.pages-container {
    background: #f8f8f8;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 20px;
}

.section-content {
    background-color: white;
    box-shadow: 0 0 10px 0 rgb(0 24 128 / 10%);
    padding: 20px;
}

@media (min-width: 900px) {
    .section-content {
        min-width: 51.25rem;
        padding: 20px 1.875rem;
    }

    .pages-container {
        padding: 1.25rem 1.875rem;
    }
}

@media (max-width: 600px) {
    .section-content {
        width: 100%;
    }
}
